In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import dataprep as dp

2022-11-14 13:04:50.923790: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-11-14 13:04:51.071622: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-11-14 13:04:51.511189: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
2022-11-14 13:04:51.511291: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
2022-11-14 13:04:51.511298: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

## Problem Definition

From the bike rental dataset provided, information relating to the bike rental usages across 2011 to 2012 can be analysed. Rental figures across each hour can be extracted and using corresponding weather data a prediciton on rental numbers in regards to weather events can be made. The planned investigation will seek to provide insight into expected usages across the following year. 

#### Do better question

## Data Ingestion

To read the dataset provided the Python library pandas was used. Pandas provides intuitive ways of analysing csv files which can then be displayed or edited to the users needs.

Panadas provides an easy way of interacting with the dataset giving a detail overview of what the data contains.

An additional analytical tool used in this project is the Python library DataPrep.
Dataprep uses the panadas analysed dataset and creates a report in html form. The report provides a detailed overview of the dataset and each charateristic within it. From the report indications as to what charateristics are missing values can be seen and callumns that will provide no overall

Through Pandas the commands:

.head(10) will display the top 10 enteries within the dataset

.describe() will detail the dataset giving avaerage metrics for each charateristic

.dtypes will display the datatypes within the dataset.

In [9]:
df = pd.read_csv('bike-dataset-hour.csv')

In [10]:
from dataprep.eda import create_report
report = create_report(df)

report.save('report.html')

  0%|          | 0/2618 [00:00<?, ?it/s]

/home/jovyan/.conda_envs/ai-ml-dev/lib/python3.9/site-packages/dask/core.py:119: RuntimeWarning: invalid value encountered in divide
  return func(*(_execute_task(a, cache) for a in args))
/home/jovyan/.conda_envs/ai-ml-dev/lib/python3.9/site-packages/dask/core.py:119: RuntimeWarning: invalid value encountered in divide
  return func(*(_execute_task(a, cache) for a in args))
/home/jovyan/.conda_envs/ai-ml-dev/lib/python3.9/site-packages/dataprep/eda/distribution/render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))

Report has been saved to report.html!

In [11]:
df.head(10)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,No,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,No,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,No,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,No,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,No,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,No,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,No,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,No,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,No,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,No,1,0.32,0.3485,0.76,0.0000,8,6,14

In [12]:
df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,15595.000000,15595.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,1.425283,0.496451,0.475300,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.639357,0.192580,0.171928,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [13]:
df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday     object
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

## Data Preperation

Data preperation will seek to remove unecesary data points that add no overall gain to the knowledege looking to eb understood. Within this stage missing values will be analysed and either an average or avaliable values within the same charatarstic will be applied or the intance will be removed. New fields will be created to denote important, identified characteristics that are not yet present within the dataset. Encoding of the data can also be appplied to ensure the outputs when read by a further stage of the M.L. pipeline the data is presented in an optimal layout.

In [14]:
df = df.drop(columns=['instant', 'season', 'yr', 'mnth', 'holiday', 'workingday', 'dteday', 'atemp', 'casual', 'registered'])
df.head(1)

   hr  weekday  weathersit  temp   hum  windspeed  cnt
0   0        6           1  0.24  0.81        0.0   16

In [15]:
df.isna()

          hr  weekday  weathersit   temp    hum  windspeed    cnt
0      False    False       False  False  False      False  False
1      False    False       False  False  False      False  False
2      False    False       False  False  False      False  False
3      False    False       False  False  False      False  False
4      False    False       False  False  False      False  False
...      ...      ...         ...    ...    ...        ...    ...
17374  False    False       False  False  False      False  False
17375  False    False       False  False  False      False  False
17376  False    False       False  False  False      False  False
17377  False    False       False  False  False      False  False
17378  False    False       False  False  False      False  False

[17379 rows x 7 columns]

In [ ]:
df['temp'] = df.groupby(['season','weathersit','hr'])['temp'].transform(lambda x: x.fillna(x.mean()))
df['atemp'] = df.groupby(['season','weathersit','hr'])['atemp'].transform(lambda x: x.fillna(x.mean()))